.assegnato {
    background-color: #ffcdd2 !important;
}

.incorso {
    background-color: #c8e6c9 !important;
}

.pendente {
    background-color: #ffe0b2 !important;
}

.risolto {
    background-color: #b3e5fc !important;
}

.chiuso {
    background-color: #e0e0e0 !important;
}

.Editor,
#T301389614 td:nth-child(2) span {
    font-family: monospace !important;
}

#T301389614 td:nth-child(2) {
    overflow-y: auto !important;
}

#T301389614 td:nth-child(2) span {
    padding: 4px !important;
}

#T301389614 span {
    max-height: 75px !important;
    white-space: break-spaces !important;
    word-wrap: break-word !important;
}

#T301389614 td:nth-child(2)::-webkit-scrollbar {
    width: 5px;
}

#T301389614 td:nth-child(2)::-webkit-scrollbar-track {
    background: #f1f1f1;
}

#T301389614 td:nth-child(2)::-webkit-scrollbar-thumb {
    background: #9f9f9f;
}

#T301389614 td:nth-child(2)::-webkit-scrollbar-thumb:hover {
    background: #555;
}