/* console view */

.assigned {
    background-color: #ffcdd2 !important;
}

.inProgress {
    background-color: #c8e6c9 !important;
}

.pending {
    background-color: #ffe0b2 !important;
}

.resolved {
    background-color: #b3e5fc !important;
}

.highlight {
    border-radius: 5px;
    padding: 0px 5px;
    font-family: monospace;
    font-weight: bold;
}


/*
.closed {
    background-color: #e0e0e0 !important;
}
*/

.closedRow {
    display: none !important;
}


/* note view */

input,
textarea,
#T301389614 td:nth-child(2) span {
    font-family: monospace !important;
}

#T301389614 td:nth-child(2) {
    overflow-y: overlay !important;
}

#T301389614 td:nth-child(2) span {
    padding: 4px !important;
}

#T301389614 span {
    max-height: 100px !important;
    white-space: pre-line !important;
    word-wrap: break-word !important;
}

#T301389614 td:nth-child(2)::-webkit-scrollbar {
    width: 5px;
}

#T301389614 td:nth-child(2)::-webkit-scrollbar-track {
    background: #f1f1f1;
}

#T301389614 td:nth-child(2)::-webkit-scrollbar-thumb {
    background: #9f9f9f;
}

#T301389614 td:nth-child(2)::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* navbar */

#WIN_0_303633100,
#WIN_0_301493400,
#WIN_0_80137 {
    display: none !important;
}

#WIN_0_303635200 {
    height: 25px !important;
}


/* ticket view */

#WIN_3_304195400 {
    display: none !important;
}

#WIN_3_303611000 {
    padding-top: 10px !important;
}


/* Shortcut Buttons */

.btnNetEye,
.btnNedi,
.btnBackOffice {
    width: 15%;
    height: 100%;
    left: 20%;
    border: none;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: transparent;
}

.btnNetEye {
    background-image: url(../assets/icons/NetEye.svg);
}

.btnNedi {
    background-image: url(../assets/icons/Nedi.svg);
}

.btnBackOffice {
    background-image: url(../assets/icons/BackOffice.svg);
}